# --- Frontend (React / Node) ---
# Найважливіше: бібліотеки та білди
node_modules/
dist/
dist-ssr/
*.local
.npm/

# Логи помилок npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Безпека (щоб не злити паролі)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- Backend (Java / Maven) ---
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# --- IDE (Налаштування редакторів) ---
# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Eclipse / Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# Visual Studio Code
.vscode/
*.code-workspace

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# --- System (Операційна система) ---
.DS_Store
Thumbs.db
